@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #D9F409;
  --color-primary-dark: #00790E;

  --color-secondary: #000000;
  
  --color-tertiary: #FF00A8;
  --color-tertirary-light: #FFB2C2;

  --color-focus: #2EAEFF;

  --color-black: #000000;
  --color-gray: #A3A3A3;
  --color-white: #ffffff;
  --color-transparent: transparent;

  /* fonts */
  --font-support: pacifico, sans-serif;
  --font-copy: arial, sans-serif;
}

html,
body {

}